In [1]:
#This notebook reads the xml with the gas prices and gas stations locations provided by the CRE 
#and converts them to an excel file.

In [2]:
import pandas as pd
import re
from bs4 import BeautifulSoup
import os

In [3]:
#Open places xml file and assing info to a Beautifulsoup object
xml = open('places.xml','r',encoding='utf-8')
soup = BeautifulSoup(xml, 'lxml')

In [9]:
#Read xml in to a new dataframe
places=pd.read_xml('places.xml')

In [8]:
places.head()

,place_id,name,cre_id,location
0,2039,"ESTACION DE SERVICIO CALAFIA, S.A. DE C.V.",PL/658/EXP/ES/2015,NaN
1,2040,"LAS MEJORES ESTACIONES, S.A DE C.V",PL/902/EXP/ES/2015,NaN
2,2041,"DIAZ GAS, S.A. DE C.V.",PL/760/EXP/ES/2015,NaN
3,2042,"COMBU-EXPRESS, S.A. DE C.V.",PL/825/EXP/ES/2015,NaN
4,2043,"PETROMAX, S.A. DE C.V.",PL/585/EXP/ES/2015,NaN

In [10]:
#Select location info and save  info in a new data frame.
location_x = soup.select("x")
places['Longitud'] = pd.DataFrame(location_x)
location_y = soup.select("y")
places['Latitud'] = pd.DataFrame(location_y)
places = places.drop('location', axis=1)

In [11]:
#Change place_id to str for later use
places['place_id'] = places['place_id'].astype(str)

In [12]:
places.head()

,place_id,name,cre_id,Longitud,Latitud
0,2039,"ESTACION DE SERVICIO CALAFIA, S.A. DE C.V.",PL/658/EXP/ES/2015,-116.9214,32.47641
1,2040,"LAS MEJORES ESTACIONES, S.A DE C.V",PL/902/EXP/ES/2015,-99.74484,20.3037
2,2041,"DIAZ GAS, S.A. DE C.V.",PL/760/EXP/ES/2015,-106.4514,31.71947
3,2042,"COMBU-EXPRESS, S.A. DE C.V.",PL/825/EXP/ES/2015,-103.3042,20.71413
4,2043,"PETROMAX, S.A. DE C.V.",PL/585/EXP/ES/2015,-98.29977,26.03787

In [13]:
#Open prices xml file and assing info to a Beautifulsoup object
xml = open('prices.xml', 'r', encoding='utf-8')
soup = BeautifulSoup(xml, 'lxml')

In [15]:
#Select place id
prices_all = soup.select('place')

In [16]:
# Create two colums for each type of fuel. If the selected gas stations odes not sell that kind of fuel then use price 0.
list_prices = []
for tag in prices_all:
    if tag.find('gas_price', type='regular') == None:
        regular = 0
    else:
        regular =  tag.find('gas_price', type='regular').text
        
    if tag.find('gas_price', type='premium') == None:
        premium = 0
    else:
        premium =  tag.find('gas_price', type='premium').text
        
    list_prices.append({'place_id': tag.get('place_id'), 'regular': regular, 'premium': premium})

In [17]:
# Save prices information in a new database, convert prices to float and agregate so we have one row per each gas station. Reset index column.
prices_complete = pd.DataFrame(list_prices)
prices_complete['regular'] = prices_complete['regular'].astype(float)
prices_complete['premium'] = prices_complete['premium'].astype(float)
prices_clean = prices_complete.groupby('place_id').agg({'regular': 'max', 'premium': 'max'})
prices_clean = prices_clean.reset_index()

In [18]:
prices_clean.head()

  place_id  regular  premium
0    10000    21.48    23.48
1    10001    20.26    22.99
2    10002    15.87    17.60
3    10003    14.88     0.00
4    10004    19.99    21.99

In [19]:
# Merge places and prices dataframes to create a single dataframe with all the information for each gas station.
gas_stations = pd.merge(places, prices_clean, on='place_id')

In [20]:
gas_stations.head()

,place_id,name,cre_id,Longitud,Latitud,regular,premium
0,2039,"ESTACION DE SERVICIO CALAFIA, S.A. DE C.V.",PL/658/EXP/ES/2015,-116.9214,32.47641,19.99,22.99
1,2040,"LAS MEJORES ESTACIONES, S.A DE C.V",PL/902/EXP/ES/2015,-99.74484,20.3037,20.53,22.05
2,2041,"DIAZ GAS, S.A. DE C.V.",PL/760/EXP/ES/2015,-106.4514,31.71947,15.19,17.86
3,2042,"COMBU-EXPRESS, S.A. DE C.V.",PL/825/EXP/ES/2015,-103.3042,20.71413,20.39,22.99
4,2043,"PETROMAX, S.A. DE C.V.",PL/585/EXP/ES/2015,-98.29977,26.03787,16.89,19.29

In [22]:
# Export dataframe to excel
gas_stations.to_excel('prices_places_gas_stations.xlsx')